.main-menu .inner-bar {
    -fx-background-image: url("/assets/images/background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.main-menu .inner-login-button {
	-fx-border-radius: 10px;
	-fx-background-color: #C42B1C;
	-fx-text-fill: #fff;
	-fx-cursor: hand;
}

.main-menu .inner-login-button:hover {
	-fx-background-color: #432125;
}

.main-menu .inner-search-button {
	-fx-border-radius: 10px;
	-fx-background-color: #D0490F;
	-fx-text-fill: #fff;
	-fx-font-size: 14px;
	-fx-cursor: hand;	
}

.main-menu .inner-search-button:hover {
	-fx-background-color: #432125;
}

.main-menu .inner-search-text-field {
	-fx-font-size: 14px;
}

.main-menu .inner-title-box {
	-fx-background-image: url("/assets/images/background.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.main-menu .inner-title-box .inner-title {
	-fx-text-fill: #fff;
}

.main-menu .inner-list {
	-fx-background-color: #fff;
}

.inner-box-item {
	-fx-background-color: #E9F6FF;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-border-width: 2px;
	-fx-padding: 5px;
}

.inner-box-item-title {
	-fx-text-fill: #323232;
	-fx-font-size: 16px;
	-fx-font-weight: bold;
}

#inner-box-item-sub-info {
	-fx-font-size: 14px;
}

.inner-box-item-buy-button {
	-fx-border-radius: 10px;
	-fx-background-color: #C42B1C;
	-fx-text-fill: #fff;
	-fx-font-size: 15px;
}

.inner-box-item-buy-button:hover {
	-fx-background-color: #432125;
}

.inner-box-item-view-button {
	-fx-border-radius: 10px;
	-fx-background-color: #C42B1C;
	-fx-text-fill: #fff;
	-fx-font-size: 15px;
}

.inner-box-item-view-button:hover {
	-fx-background-color: #432125;
}
